.aboutContainer {
  max-width: 50rem;
  padding: 1rem;
}

@media (max-width: 37.5rem) {
  .aboutContainer {
    margin: 12rem auto 0 auto;
  }
}

@media (min-width: 37.5rem) {
  .aboutContainer {
    margin: 14rem auto 0 auto;
  }
}

@media (min-width: 48rem) {
  .aboutContainer {
    margin: 16rem auto 0 auto;
  }
}

@media (min-width: 62rem) {
  .aboutContainer {
    margin: 18rem auto 0 auto;
  }
}

@media (min-width: 75rem) {
  .aboutContainer {
    margin: 20rem auto 0 auto;
  }
}
